#canvas1{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    /*width:600px;
    height:400px;*/
    border:2px solid black;
}

#infoscreen{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); /*same as self.width/2*/
    box-shadow: 0px 0px 5px 16px rgba(0,0,0,0.59);
    content:"just a test"
}



